<div class="container-about">
    <app-menu-bar-top [titlePers]="titleMenApp"></app-menu-bar-top>

    <div class="container-topo">
        <div class="container-valores">
            Nossos Valores
            <app-accordion-pers [tipoAcordion]=1></app-accordion-pers>
        </div>
        <div class="container-img-valores">
            <img src="https://th.bing.com/th/id/OIP.593zMqDsE-ESKDKWzHJh2QHaEo?pid=ImgDet&rs=1">
        </div>
    </div>


    <app-rodape-pers></app-rodape-pers>
</div>



